{% extends "inventory/layout_base.html" %}

{% block page_heading %} - Document Library{% endblock %}

{% block content %}
<!-- <h2>Document Library</h2> -->

<table class="table table-sm table-hover align-middle">
    <thead class="table-light">
        <tr>
            <!-- <th style="width: 90px;">Preview</th> -->
            <th>Date Received</th>
            <th>Summary</th>
            <th>Related To</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for doc in object_list %}
        <!-- <tr onclick="window.location='{{ doc.file.url }}'" style="cursor: pointer;"> -->
        <tr>
            {% comment %}
            <!-- Thumbnail -->
            <td>
                {% if doc.thumbnail %}
                    <img src="{{ doc.thumbnail.url }}"
                         class="img-thumbnail"
                         style="max-height: 70px;">
                {% else %}
                    <span class="text-muted small">—</span>
                {% endif %}
            </td>
            {% endcomment %}
            <!-- Date -->
            <td>
                <a href="{{ doc.file.url }}" target="_blank" >{{ doc.date_received }} <!-- |date:"Y-m-d" }} -->
            </td>

            <!-- Summary -->
            <td>
                <div>    <!-- class="fw-semibold"> -->
                    {{ doc.summary|truncatechars:80 }}
                </div>
                <!-- <div class="text-muted small">
                     Uploaded: {{ doc.date_uploaded|date:"Y-m-d" }}
                     </div> -->
            </td>

            <!-- Context object -->
            <td>
                {% with url=doc.context_object_url %}
                    {% if url %}
                        <a href="{{ url }}" class="text-decoration-none">
                            {{ doc.context_object_display }}
                        </a>
                    {% else %}
                        <span class="text-muted">
                            {{ doc.context_object_display }}
                        </span>
                    {% endif %}
                {% endwith %}
            </td>

            {% comment %}
            <!-- View document -->
            <td class="text-end">
                <a href="{{ doc.file.url }}"
                   class="btn btn-sm btn-outline-primary"
                   target="_blank">
                    Open
                </a>
            </td>
            {% endcomment %}
        </tr>
        {% empty %}
          <p class="text-muted">No documents entered yet.</p>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
