{% extends "inventory/layout_base.html" %}

<head>
  {% load django_bootstrap5 %}
  {% load crispy_forms_tags static %}

  {% block extra_css %}
  {% endblock %}

</head>

<body>
  {% block page_heading %}EcoFlux - Fieldnote{% endblock %}

  {% block content %}

  <form id="id_fieldnote_form" class = "mt-3 track-unsaved form-class" novalidate method="post">

    {% csrf_token %}
    {% crispy form %}

    <!-- Save/Cancel/Delete buttons -->
    {% include "inventory/save_cancel_delete.html" %}

  </form>

  {% endblock content %}

  {% block extra_js %}

  {% include "inventory/include/flatpickr.html" %}

  {% endblock extra_js %}
</body>
