{% extends "inventory/list_base.html" %}

{% block list_content %}
   <div class="d-flex justify-content-between align-items-center mb-3">
     <h1 class="mb-0">Inventory items</h1>
     <a href="{% url 'inventory_add' %}" class="btn btn-primary">
       Add Inventory item</a>
   </div>
   <table class="table table-hover">
     <thead>
       <tr>
         <th>ID</th>
         <th>Description</th>
         <th>Serial number</th>
         <th>Date purchased</th>
         <th>Location</th>
         <th>Notes</th>
         <th>Maintenance Records</th>
       </tr>
     </thead>
     <tbody>
       {% for item in inventory_list %}
       <tr>
         <td>{{ item.id }}</td>
         <td><a href="{% url 'inventory_edit' item.id %}">
             {{ item.description }}</td>
         <td>{{ item.serial_number }}</td>
         <td>{{ item.date_purchased }}</td>
         <td>{{ item.location }}</td>
         {% if item.notes %}
         <td>{{ item.notes|truncatechars:25 }}</td>
         {% else %}
         <td>---</td>
         {% endif %}
         <td>{{ item.maintenance_count }}</td>
       </tr>
       {% endfor %}
    </tbody>
   </table>
{% endblock list_content %}
