{% extends "inventory/list_base.html" %}

{% block list_content %}
   <div class="d-flex justify-content-between align-items-center mb-3">
     <h1 class="mb-0">Locations</h1>
     <a href="{% url 'add_location' %}" class="btn btn-primary">Add Location</a>
   </div>
{% with sort=request.GET.sort %}
  <table class="table-hover table">
    <thead>
      <tr>
        <th>
          <a href="?sort={% if sort == 'description' %}-description{% else %}description{% endif %}">
            Name
            {% if sort == 'description' %}↑{% elif sort == '-description' %}↓{% endif %}
          </a>
        </th>
        <th>
          <a href="?sort={% if sort == 'address' %}-address{% else %}address{% endif %}">
            Address
            {% if sort == 'address' %}↑{% elif sort == '-address' %}↓{% endif %}
          </a>
        </th>
        <th>
          <a href="?sort={% if sort == 'gps_coordinates' %}-gps_coordinates{% else %}gps_coordinates{% endif %}">
            GPS
            {% if sort == 'gps_coordinates' %}↑{% elif sort == '-gps_coordinates' %}↓{% endif %}
          </a>
        </th>
        <th>
          <a href="?sort={% if sort == 'item_count' %}-item_count{% else %}item_count{% endif %}">
            Item Count
            {% if sort == 'item_count' %}↑{% elif sort == '-item_count' %}↓{% endif %}
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
       {% for location in location_list %}
       <tr>
         <td><a href="{% url 'edit_location' location.id %}">
             {{ location.description }}</a></td>
         <td>{{ location.address }}</td>
         <td>{{ location.gps_coordinates  }}</td>
         <td>{{ location.item_count }}</td>
         <!-- <td><a href="{% url 'delete_location' location.id %}" -->
         <!--        class="btn btn-warning btn-small" role="button">Delete</a></td> -->
       </tr>
       {% endfor %}
    </tbody>
  </table>
{% endwith %}


{% endblock list_content %}
