<!-- EcoFlux/templates/edit_location.html -->
{% extends "inventory/site-base.html" %}

<head>
  <title>{% block title%}EcoFlux Site - Location{% endblock %}</title>
</head>

{% block content %}
<h1>Location Details</h1>

<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <button class="btn btn-success" type="submit">Save</button>
  <a href="{% url 'view_locations' %}"
     class="btn btn-secondary btn-small"
     role="button">Cancel
  </a>
</form>

{% endblock content %}
