<!-- templates/inventory/location_detail_form.html -->
{% extends "inventory/site_base.html" %}

<head>
  {% load django_bootstrap5 %}
  <title>{% block title %}EcoFlux Site - Location{% endblock %}</title>
</head>

{% block content %}
  <h1 class="mb-4">Location Details</h1>

  <!-- Section: Location Info -->
  <h5 class="text-primary fw-bold mb-3">Location Info</h5>

  <!-- This <form> will be closed by detail_buttons.html -->
  <form method="post" enctype="multipart/form-data" class="track-unsaved">
    {% csrf_token %}
    <!-- Generic form -->
    <!-- {% bootstrap_form form %} -->
    <!-- Using these detailed layouts instead -->
    <div class="row g-3">
      <div class="col-md-6">
        {% bootstrap_field form.description %}
        {% bootstrap_field form.gps_coordinates %}
      </div>
      <div class="col-md-6">
        {% bootstrap_field form.address %}
      </div>
    </div>
    <!-- <div class="row g-3"> -->
    <!--   <div class="col-md-6"> -->
    <!--     {% bootstrap_field form.description %} -->
    <!--   </div> -->
    <!--   <div class="col-md-6"> -->
    <!--     {% bootstrap_field form.address %} -->
    <!--   </div> -->
    <!--   <div class="col-md-6"> -->
    <!--     {% bootstrap_field form.gps_coordinates %} -->
    <!--   </div> -->
    <!-- </div> -->

  {% include "inventory/include/detail_buttons.html" with object=location cancel_url=cancel_url %}

  {% if items %}
    <!-- Section: Inventory at this location -->
    <h5 class="text-primary fw-bold mt-5">Inventory Items at This Location</h5>

    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock content %}
