# This file contains settings for specific deployment settings,
#  development or production, with their default values. Set these to
#  appropriate values for development or production environments and
#  save to .env. DO NOT CHECK .env INTO VERSION CONTROL!

# Which settings file to use, Ecoflux.settings.production or
#   EcoFlux.settings.development; default???
DJANGO_SETTINGS_MODULE=EcoFlux.settings

# DO NOT REVEAL THIS KEY!
SECRET_KEY = SET_THIS
# Must be False in production, True in development
DEBUG = False

# development = []
# production = "hank.knox@mcgill.ca, sara.knox@mcgill.ca"
ADMINS = []

# development = localhost,
# production = localhost,127.0.0.1,grandwazoo.ddns.net
ALLOWED_HOSTS = []

# Database setttings

# These are not Django settings so have no defaults but they must be
#   set according to the environment, production or development; they
#   will be pulled into the appropriate place in the settings module.
# development = django.db.backends.sqlite
# production = django.db.backends.mariadb
DB_ENGINE = None
DB_NAME = None
DB_USER = None
DB_PASSWORD = None
DB_HOST = None
DB_PORT = None

# Default settings for sending email:
# EMAIL_HOST = "localhost"
# EMAIL_PORT = 25
# EMAIL_HOST_USER = ""
# EMAIL_HOST_PASSWORD = ""
# EMAIL_USE_SSL = False
# development & production:
EMAIL_HOST = "smtp.videotron.ca"
EMAIL_PORT = 465
EMAIL_HOST_USER = "hknox@videotron.ca"
EMAIL_HOST_PASSWORD = ...
EMAIL_USE_SSL = True

# maintenance_mode settings
MAINTENANCE_MODE = None
MAINTENANCE_LOGOUT = False
MAINTENANCE_MODE_IGNORE_SUPERUSER = False

# Various URL settings
######################
# development = /media/
# production = /ecoflux/media/
MEDIA_URL = ""
#
# Account Management
# development = /accounts/login/
# production = /ecoflux/accounts/login/
LOGIN_URL = /accounts/login
#
# development = static/
# production = /ecoflux/static/
STATIC_URL = None

# production = /ecoflux
FORCE_SCRIPT_NAME = None
# production = EcoFlux.wsgi.application
WSGI_APPLICATION = None
