[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-bootstrap5 = "*"
pillow = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
mysqlclient = "*"
python-decouple = "*"
python-dotenv = "*"

[dev-packages]
pylsp-rope = "*"

[requires]
python_version = "3.13"
