<div class="d-flex align-items-stretch accordion{% if mt_3 %} mt-3{% endif %}">
  <button class="p-2 text-bg-info accordion-button collapsed flex-grow-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#{{ section_id }}Collapse"
          aria-expanded="false"
          aria-controls="{{ section_id }}Collapse">
    {{ section_title }}
  </button>

  {% if button_url %}
  <a href="{{ button_url }}"
     class="btn btn-info d-flex align-items-center rounded-0 text-nowrap{% if button_classes %} {{ button_classes }}{% endif %}">
    <i class="bi bi-plus-circle me-1"></i>{{ button_text }}
  </a>
  {% endif %}

  {% if formset_prefix %}
  <button type="button"
          class="btn btn-info d-flex align-items-center rounded-0 text-nowrap add-form-row"
          data-formset-prefix="{{ formset_prefix }}">
    <i class="bi bi-plus-circle me-1"></i>{{ button_text }}
  </button>
  {% endif %}

</div>
