{% load crispy_forms_tags %}

<div id="{{ formset.prefix }}-formset" class="mt-2 ms-2">
  {{ formset.management_form }}

  {% for form in formset %}
    <div class="formset-row row align-items-center mb-3">
      {% for hidden in form.hidden_fields %}
        {% if hidden.name != form.prefix|add:"-DELETE" %}
          {{ hidden }}
        {% endif %}
      {% endfor %}
      {% crispy form %}
    </div>
  {% endfor %}

  {# Hidden empty form template #}
  <div class="formset-row row align-items-center mb-3"
       id="{{ formset.prefix }}-empty-form"
       style="display: none;">
    {% for hidden in formset.empty_form.hidden_fields %}
      {% if hidden.name != formset.empty_form.prefix|add:"-DELETE" %}
        {{ hidden }}
      {% endif %}
    {% endfor %}
    {% crispy formset.empty_form %}
  </div>
</div>
